.table {
    width: 100%;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .table {
    max-height: 100%; /* Adjust height as needed */
    overflow: auto;
    border: 1px solid #ccc; /* Optional: Add border for better visibility */
  }
  
  .table {
    width: 100%;
    min-width: 600px; /* Adjust the min-width as needed */
  }
  
  /* New scope for table styles */
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  .table thead {
    background-color: #f8f8f8;
    color: #333;
  }
  
  .table th,
  .table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .table .tr-table {
    cursor: pointer;
  }
  
  /* Mobile Styles */
  @media screen and (max-width: 768px) {
    .data-table-wrapper {
      overflow-x: auto;
    }
  
    .dataTable {
      min-width: 100%;
    }
  
    .table-container {
      padding: 10px;
    }
  
    .table-container .dataTable th,
    .table-container .dataTable td {
      padding: 8px 10px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .dataTable {
      min-width: 100%;
    }
  
    .table-container .dataTable img {
      width: 90px;
    }
  }
  